@page
@model Warehousemanagement.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Product)
            </th>
            <th>
                Item Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Item[0].Expiry)
            </th>
            <th>
                Volume
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Wearhouse)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>

            <td>
                @{
                    Model.Product = Model.AllProducts.FirstOrDefault(m => m.Id == item.ProductId);
                }
                @(Model.Product.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Expiry)
            </td>
            <td>
                @{
                    Model.Product = Model.AllProducts.FirstOrDefault(m => m.Id == item.ProductId);
                }
                @(Model.Product.Length* Model.Product.Width* Model.Product.Height)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Wearhouse.Name)
            </td>


            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
